<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div>
    <button id="token">token</button>
    <h1>注册</h1>
    <div>
      username：<input type="text" id="username">
    </div>
    <div>
      nickname：<input type="text" id="nickname">
    </div>
    <div>
      password：<input type="text" id="password">
    </div>
    <button id="sub">sign up!</button>
  </div>
  <div>
    <h1>登录</h1>
    <div>
      username：<input type="text" id="username1">
    </div>
    <div>
      password：<input type="text" id="password1">
    </div>
    <button id="login">login!</button>
  </div>

  <div>
    <h1>文章添加</h1>
    <div>
        title:<input type="text" id="title">
      </div>
      <div>
        content:<input type="text" id="content">
      </div>
      <button id="sub_art_add">提交!</button>
  </div>
  <div>
    <h1>文章查询</h1>
    <div>
        title:<input type="text" id="title1">
      </div>
      <button id="sub_art_list">title查询!</button>
  </div>
  <div>
    <h1>文章编辑</h1>
    <div>
      id:<input type="text" id="artid">
    </div>
    <div>
      content:<input type="text" id="content_update">
    </div>
    <button id="sub_art_update">更新!</button>
  </div>
</body>
<script>
	var host = location.protocol + '//' +  location.host
  var reqest = function(options) {
    $.ajax({
      type:"POST",
      url: host + options.url,
      dataType: 'json',
      data: options.data,
      success:function(data) {
        console.log(data)
      }
    })
  }
  $('#token').on('click', function() {
    reqest({
      url: '/api/token/getToken'
    })
  })
  $('#sub').on('click', function() {
    $.ajax({
      type:"POST",
      url: host + '/api/signup',
      dataType: 'json',
      data:{
        "username": $('#username').val(),
        "nickname": $('#nickname').val(),
        "password": $('#password').val()
      },
      success:function(data) {
        console.log(data)
      }
    })
  })
  $('#login').on('click', function() {
    $.ajax({
      type:"POST",
      url: host + '/api/login',
      dataType: 'json',
      data:{
        "username": $('#username1').val(),
        "password": $('#password1').val()
      },
      success:function(data) {
        console.log(data)
      }
    })
  })
  $('#sub_art_add').on('click', function() {
    $.ajax({
      type:"POST",
      url: host + '/api/article/add',
      dataType: 'json',
      data:{
        "title": $('#title').val(),
        tags: 'web',
        "content": $('#content').val()
      },
      success:function(data) {
        console.log(data)
      },
      error:function() {

      }
    })
  })
  $('#sub_art_list').on('click', function() {
    $.ajax({
      type:"POST",
      url: host + '/api/article/list',
      dataType: 'json',
      data:{
        "title": $('#title1').val()      },
      success:function(data) {
        console.log(data)
      },
      error:function() {

      }
    })
  })
  $('#sub_art_update').on('click', function() {
    $.ajax({
      type:"POST",
      url: host + '/api/article/update',
      dataType: 'json',
      data:{
        "id": $('#artid').val(),
        "content": $('#content_update').val(),
      },
      success:function(data) {
        console.log(data)
      },
      error:function() {

      }
    })
  })
  
</script>
</html>