<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<body>
  <div>
    <h1>注册</h1>
    <div>
      username：<input type="text" id="username">
    </div>
    <div>
      nickname：<input type="text" id="nickname">
    </div>
    <div>
      password：<input type="text" id="password">
    </div>
    <button id="sub">sign up!</button>
  </div>
  <div>
    <h1>登录</h1>
    <div>
      username：<input type="text" id="username1">
    </div>
    <div>
      password：<input type="text" id="password1">
    </div>
    <button id="login">login!</button>
  </div>

  <div>
    <h1>文章添加</h1>
    <div>
        title:<input type="text" id="title">
      </div>
      <div>
        content:<input type="text" id="content">
      </div>
      <button id="sub_art_add">提交!</button>
  </div>
  <div>
      <h1>文章添加</h1>
      <div>
          title:<input type="text" id="title1">
        </div>
        <button id="sub_art_list">title查询!</button>
        <div class="content_list" style="width:800px;height:200px;overflow:auto;"></div>
    </div>
</body>
<script>
  $('#sub').on('click', function() {
    $.ajax({
      type:"POST",
      url: 'http://localhost:3000/api/signup',
      dataType: 'json',
      data:{
        "username": $('#username').val(),
        "nickname": $('#nickname').val(),
        "password": $('#password').val()
      },
      success:function(data) {
        console.log(data)
      }
    })
  })
  $('#login').on('click', function() {
    $.ajax({
      type:"POST",
      url: 'http://localhost:3000/api/login',
      dataType: 'json',
      data:{
        "username": $('#username1').val(),
        "password": $('#password1').val()
      },
      success:function(data) {
        console.log(data)
      }
    })
  })
  $('#sub_art_add').on('click', function() {
    $.ajax({
      type:"POST",
      url: 'http://localhost:3000/api/article/add',
      dataType: 'json',
      data:{
        "title": $('#title').val(),
        "content": $('#content').val()
      },
      success:function(data) {
        console.log(data)
      },
      error:function() {

      }
    })
  })
  $('#sub_art_list').on('click', function() {
    $.ajax({
      type:"POST",
      url: 'http://localhost:3000/api/article/list',
      dataType: 'json',
      data:{
        "title": $('#title1').val(),
      },
      success:function(data) {
        $('.content_list').html(data.data[0].content)
      },
      error:function() {

      }
    })
  })
  
</script>
</html>